.modal {
	padding: 25px 0;
	width: 200px;
	
	background: #172c3e;
	color: white;
	
	border: 1px solid #20374d;
	border-radius: 15px;
	
	font-family: sans-serif;
	z-index: 1002;

	position: absolute;
	top: 250px;
	left: 300px;
}

.modal p {
	padding: 0 0;
	margin: 0;
	text-align: center;
}

.modal > div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
	padding-top: 20px;
}

.modal-button {
	background: #26435e;
	color: white;
	
	/* border: 1px solid grey; */
	border-radius: 10px;
	
	width: 60px;
	padding: 5px 0;
	
	text-align: center;
}
